.aligner {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.aligner.horizontal {
    flex-direction: row;
}

.aligner.vertical {
    flex-direction: column;
}

.aligner.center {
    justify-content: center;
    align-items: center;
}