.header-container {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    z-index: 10;
}

.header-container .header-element {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-radius: 25px;
}

.header-container .header-element .logo-img {
    height: 30px;
}

.header-container .header-element .menu-element .menu-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header-container .header-element .menu-element .menu-list .menu-item {
    display: flex;
    align-items: center;
}

.header-container .header-element .menu-element .menu-list .menu-item.subscriber {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F56004;
}

.header-container .header-element .menu-element .menu-list .menu-item.subscriber a {
    color: #FFFFFF;
}

.header-container .header-element .menu-element .menu-list a {
    text-decoration: none;
    color: #000000;
    font-family: "Mona Sans Bold";
    transition: all 0.3s ease;
    display: flex;
    gap: 5px;
}

.header-container .header-element .menu-element .menu-list a img {
    height: 15px;
}