.header-container {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    z-index: 10;
}

.header-container .header-element {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-radius: 25px;
}

.header-container .header-element .logo-img {
    height: 30px;
}

.header-container .header-element .menu-element .menu-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header-container .header-element .menu-element .menu-list .menu-item {
    display: flex;
    align-items: center;
}

.header-container .header-element .menu-element .menu-list .menu-item.subscriber {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F56004;
}

.header-container .header-element .menu-element .menu-list .menu-item.subscriber a {
    color: #FFFFFF;
}

.header-container .header-element .menu-element .menu-list a {
    text-decoration: none;
    color: #000000;
    font-family: "Mona Sans Bold";
    transition: all 0.3s ease;
    display: flex;
    gap: 5px;
}

.header-container .header-element .menu-element .menu-list a img {
    height: 15px;
}

/* Header Mobile */

.header-container-mob {
    display: flex;
    padding: 20px 10px;
    position: relative;
    justify-content: space-between;
    width: -webkit-fill-available;
    background-color: #E6EEFF;
    z-index: 10;
}

.header-container-mob .left-wrapper, .header-container-mob .right-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container-mob button#toggleMenu {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.header-container-mob button#toggleMenu img {
    height: 15px;
}

.header-container-mob .logo-header-mob {
    height: 20px;
}

.head-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.head-link .nav-icon {
    height: 10px;
    margin-top: -3px;
}

.head-link.customer-area {
    background-color: #F56004;
    padding: 5px 10px;
    border-radius: 7px;
    color: #FFFFFF;
}

.header-container-mob .social-link {
    height: fit-content;
    margin-top: 3px;
}

.header-container-mob .social-icon {
    height: 30px;
}

.nav-container-mob {
    position: absolute;
    left: 10px;
    margin-top: -500px;
    padding: 5px;
    background: #e6eeff88;
    border-radius: 10px;
    transition: ease-in-out .3s;
    z-index: 8;
}

.nav-container-mob .menu-list-mob {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-container-mob.active {
    margin-top: 10px;
}

.menu-list-mob .nav-link {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    gap: 10px;
    font-family: "Mona Sans Bold";
    color: #000000;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.menu-list-mob .nav-link .nav-icon {
    height: 18px;
}
