.main-banner-container {
    display: flex;
    padding: 30px;
    background-image: url("../img/new-banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.main-banner-wrapper {
    width: -webkit-fill-available;
}

.banner-plan-img {
    width: 35%;
}

@media (max-width: 768px) {
    .main-banner-container {
        min-height: 200px;
        background-position: -200px;
    }

    .main-banner-wrapper {
        display: flex;
    }

    .banner-plan-img {
        width: 70%;
    }
}