.main-banner {
    width: -webkit-fill-available;
    z-index: 30;
    position: relative;
    background-color: #f56004;
}

.main-banner img {
    width: 100%;
}

.main-banner-mob {
    max-height: 243px;
}

.main-banner-mob .banner-slider {
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   position: relative; 
 }